@model IEnumerable<MvcMovie.Models.Movie>


@{ ViewData["Title"] = "COVID";
    var covid = ViewData["covid"] as MvcMovie.Models.Movie;
    var covidList = ViewData["covidList"] as List<MvcMovie.Models.Movie>;
    }

<div class="card">
    <table class="table">
        <thead>

        </thead>
        <thead class="table-info">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    <form action="/Movies/index">
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-4">
                                <input class="form-control " name="titleName" type="search" placeholder="Search" aria-label="Search">
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-success" type="submit">Search</button>
                            </div>
                        </div>
                    </form>

                </th>
            </tr>



        </thead>
        <tbody>
            @foreach (var item in Model)
            {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ReleaseDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Genre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td style="text-align:right">
        <a asp-action="Details" asp-route-id="@item.Id">
            <button type="button" class="btn btn-primary">Detail</button>
        </a>
        <a asp-action="Edit" type="button" asp-route-id="@item.Id">
            <button type="button" class="btn btn-warning">Edit</button>

        </a>
        <a asp-action="Delete" asp-route-id="@item.Id">
            <button type="button" class="btn btn-danger">Delete</button>
        </a>


    </td>
</tr>
}
        </tbody>
    </table>
    </div>
<br>
<br>
    <div class="row">
        <div class="col-md-6"></div>

        <a asp-action="Create">
            <button type="button" class="btn btn-success">Create</button>
        </a>

    </div>


    <style>
    </style>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    }

