﻿@model IEnumerable<MvcMovie.ViewModel.CovidViewModel>


@{
    ViewData["Title"] = "Home Page";
    var covid = ViewData["covid"] as MvcMovie.ViewModel.CovidViewModel;
    var covidList = ViewData["covidList"] as List<MvcMovie.ViewModel.CovidViewModel>;
}


<h2 class="display-4 text-center mt-5 mb-3">Covid Today</h2>
<div class="row text-center">
    <div class="col-md-3 mb-3">
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-header">ติดเชื้อสะสม</div>
            <div class="card-body">
                <h1>@covid.Confirmed</h1> <br>
                <p>[ เพิ่มขึ้น @covid.NewConfirmed ]</p>
            </div>
        </div>

    </div>

    <div class="col-md-3 mb-3">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header">หายแล้ว</div>
            <div class="card-body">
                <h1>@covid.Recovered</h1><br>
                <p>[เพิ่มขึ้น @covid.NewRecovered ]</p>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <div class="card-header">รักษาอยู่ในโรงพยาบาล</div>
            <div class="card-body">
                <h1>@covid.Hospitalized</h1><br>
                <p> [ เพิ่มขึ้น @covid.NewHospitalized]</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">เสียชีวิต</div>
            <div class="card-body">
                <h1>@covid.Deaths</h1><br>
                <p> [ เพิ่มขึ้น @covid.NewDeaths]</p>
            </div>
        </div>
    </div>
</div>

<table id="table_id" class="table" style="width:100%">
    <thead>

    </thead>
    <thead class="table-info">
        <tr>
            <th>
                ข้อมูลวันที่
            </th>
            <th>
                ติดเชื้อสะสม
            </th>
            <th>
                หายแล้ว
            </th>
            <th>
                รักษาอยู่ใน รพ.
            </th>
            <th>
                เสียชีวิต
            </th>
        </tr>



    </thead>
    <tbody>
        @foreach (var item in covidList)
        {
            <tr>
                <td>
                    @item.Date
                </td>
                <td>
                    @item.Confirmed
                </td>
                <td>
                    @item.Recovered
                </td>
                <td>
                    @item.Hospitalized
                </td>
                <td>
                    @item.Deaths
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}





